body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  width: 100%;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p {
  color: #40514E;
}

hr {
  border-color: gray;
  border-style: dotted none none none;
  border-width: 0.3125rem;
  width: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
  line-height: 2;
}

.CsharpLogo {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.UnityLogo {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.p2019 {
  color: #EAf6f6;
}

.p2018 {
  margin-bottom: 50px;
}

.footer-link {
  color: #11999E;
}

.btn {
  background: #34d9d9;
  background-image: -webkit-linear-gradient(top, #34d9d9, #2b9cb8);
  background-image: -moz-linear-gradient(top, #34d9d9, #2b9cb8);
  background-image: -ms-linear-gradient(top, #34d9d9, #2b9cb8);
  background-image: -o-linear-gradient(top, #34d9d9, #2b9cb8);
  background-image: linear-gradient(to bottom, #34d9d9, #2b9cb8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #36e0e0;
  background-image: -webkit-linear-gradient(top, #36e0e0, #38c0de);
  background-image: -moz-linear-gradient(top, #36e0e0, #38c0de);
  background-image: -ms-linear-gradient(top, #36e0e0, #38c0de);
  background-image: -o-linear-gradient(top, #36e0e0, #38c0de);
  background-image: linear-gradient(to bottom, #36e0e0, #38c0de);
  text-decoration: none;
}